{% extends '@Administration/base.html.twig' %}

{% block body %}
    {#<h1>Tag edit</h1>#}

    {#{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}#}
    {#{{ form_widget(form) }}#}

    {#<div class="form-group">#}
        {#<div class="col-sm-offset-2 col-sm-10">#}
            {#<button type="submit" class="btn btn-default">Edit</button>#}
        {#</div>#}
    {#</div>#}
    {#{{ form_end(form) }}#}

    <div class="body main body-location">
        <div class="title-create-slide">
            <h3 class="title-create-slide-text">Edit Your Tag Here</h3>
            <ion-icon name="pricetags" class="icon-create-title"></ion-icon>
        </div>
        <div class="line-under-title"></div>
        <div class="icon-back-div">
            <a href="{{ path('tag.list') }}"><ion-icon name="arrow-round-back"></ion-icon></a>
        </div>

        {{ form_start(form) }}
        <div class="div-form">

            <div class="div-location-name">
                <p class="location-name-text">
                    Tag Name
                </p>
                <div class="form-location-name-div">
                    {{ form_widget(form.Tag, { 'attr': {'class': 'location-form form-control'} }) }}
                    <small id="name-location-help" class="form-text text-muted">Edit the name for your tag</small>
                </div>
            </div>
        </div>
        <div class="button-add-new-location" style="margin-top: 70px">
            <a><button class="btn btn-primary" type="submit">Save Changes</button></a>
        </div>
        {{ form_end(form) }}
    </div>
    {#<div class="map-image-div">#}
        {#<img class="map-image" src="{{ asset('bundles/administration/img/map-location.png') }}">#}
    {#</div>#}
{% endblock %}
