{% extends '@Administration/base.html.twig' %}

{% block body %}

    <div class="body main">
        <div class="title-create-slide">
            <h3 class="title-create-slide-text">List of Tags</h3>
            <ion-icon name="pricetags" class="icons icon-users" style="font-size: 30px; margin-left: 20px;"></ion-icon>
        </div>
        <div class="line-under-title"></div>
        <div class="table-locations-div">
            <table class="table table-locations">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tag</th>
                    <th scope="col">Linked Slides</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>

                {% for tag in tags %}
                    <tr>
                        <th scope="row">{{ tag.id }}</th>
                        <td>
                            <button class="tag-id-list-locations" id="{{ tag.id }}">{{ tag.tag }}</button></a>
                        </td>
                        <td>
                            {% for sl in tag.slides %}
                                {{ sl.name }}
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{{ path('tag_edit', {'id': tag.id}) }}"><ion-icon name="create" class="icons icons-edit-delete icon-edit"></ion-icon></a>
                                <a href="{{ path('tag_delete', {'id': tag.id}) }}" onclick="return confirm('Are you sure?')"><ion-icon name="trash" class="icons icons-edit-delete icon-trash"></ion-icon></a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <div class="button-add-new-location">
                <a href="{{ path('tag_new') }}"><button class="btn btn-primary">Add New Tag</button></a>
            </div>
        </div>
    </div>
{% endblock %}
