<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
            <link href="https://rawgit.com/select2/select2/master/dist/css/select2.min.css" rel="stylesheet" />
            <link rel="stylesheet" href="{{ asset('bundles/administration/css/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/administration/css/bootstrap-multiselect.css') }}" type="text/css"/>
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block navbar %}
            <div class="sidenav">
                <a href="#" data-toggle="tooltip" data-placement="right" title="My Account"><ion-icon name="contact" class="icons icon-user-info"></ion-icon></a>
                <a href="{{ path('homepage') }}" data-toggle="tooltip" data-placement="right" title="Home"><ion-icon name="home" class="icons icon-home"></ion-icon></a>
                <a href="{{ path('users') }}" data-toggle="tooltip" data-placement="right" title="Users"><ion-icon name="people" class="icons icon-users"></ion-icon></a>
                <a href="{{ path('locations') }}" data-toggle="tooltip" data-placement="right" title="Locations"><ion-icon name="globe" class="icons icon-locations"></ion-icon></a>
                <a href="{{ path('slide.list') }}" data-toggle="tooltip" data-placement="right" title="Slides"><ion-icon name="albums" class="icons icon-slides"></ion-icon></a>
                <a href="{{ path('slide.create') }}" data-toggle="tooltip" data-placement="right" title="Create Slide"><ion-icon name="create" class="icons icon-create"></ion-icon></a>
                <a href="{{ path('tag.list') }}" data-toggle="tooltip" data-placement="right" title="Tags"><ion-icon name="pricetags" class="icons icon-tags"></ion-icon></a>
                <a href="#" data-toggle="tooltip" data-placement="right" title="Settings"><ion-icon name="settings" class="icons icon-settings"></ion-icon></a>
            </div>
        <div class="top-bar">
            <a href="{{ path('logout') }}" onclick="return confirm('Are you sure to logout?');" data-toggle="tooltip" data-placement="bottom" title="Exit"><ion-icon name="exit" class="icons icon-exit"></ion-icon></a>
        </div>
        {% endblock %}

        {% block body %}{% endblock %}

    </body>
    {% block javascripts %}
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script type="text/javascript" src="https://unpkg.com/ionicons@4.4.6/dist/ionicons.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="https://rawgit.com/select2/select2/master/dist/js/select2.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/administration/js/bootstrap-multiselect.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/administration/js/layout.js') }}"></script>
    {% endblock %}

    {% block javascript_custom %}
    {% endblock %}
</html>
