{% extends '@Administration/base.html.twig' %}

{% block title %}Locations index{% endblock %}

{#<link rel="stylesheet" href="{{ asset('bundles/administration/css/list-locations.css') }}">#}

{% block body %}

    <div class="body main">
        <div class="title-create-slide">
            <h3 class="title-create-slide-text">Create Your Slide Here</h3>
            <ion-icon name="create" class="icon-create-title"></ion-icon>
        </div>
        <div class="line-under-title"></div>
        <div class="table-locations-div">
            <a href="{{ path('location_new') }}">Add new</a>
            <table class="table-locations">

                <thead>
                <tr>
                    <th scope="col">Nr/o</th>
                    <th scope="col">Name</th>
                    <th scope="col">Tags</th>
                    <th scope="col">Edit/Delete</th>
                </tr>
                </thead>

                <tbody>
                {% for location in locations %}
                    <tr>
                        <th scope="row">1</th>
                        <td>{{ location.location }}</td>
                        <td>
                            {% for tag in location.tags %}
                                {{ tag.tag }},
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{{ path('location_edit', {'id': location.id}) }}" data-toggle="tooltip" data-placement="top" title="Edit"><ion-icon name="create" class="icons icon-create"></ion-icon></a>
                            <a href="{{ path('location_delete', {'id': location.id}) }}" onclick="return confirm('Are you sure?')" data-toggle="tooltip" data-placement="top" title="Delete"><ion-icon name="trash" class="icons icon-trash"></ion-icon></a>

                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>

        </div>


        <br/><br/>

    </div>
    <script src="{{ asset('bundles/administration/js/list-locations.js') }}"></script>
{% endblock %}

