{% extends '@Administration/base.html.twig' %}

{% block title %}Location new{% endblock %}

{% block body %}
    <div class="body main body-location">
        <div class="title-create-slide">
            <h3 class="title-create-slide-text">Add New Location Here</h3>
            <ion-icon name="pin" class="icon-create-title"></ion-icon>
        </div>
        <div class="line-under-title"></div>
        <div class="icon-back-div">
            <a href="{{ path('locations') }}"><ion-icon name="arrow-round-back"></ion-icon></a>
        </div>

        {{ form_start(form) }}
        <div class="div-form">

            <div class="div-location-name">
                <h5 class="location-name-text">
                    Location Name
                </h5>
                <div class="form-location-name-div">
                    {{ form_widget(form.location, { 'attr': {'class': 'location-form form-control'} }) }}
                    <small id="name-location-help" class="form-text text-muted">Create a suggestive name for your location.</small>
                </div>
                </div>
            <div class="div-tags">
                <p class="location-tags-text">
                    Location Tags
                </p>
                <div class="form-tags-div">
                    {{ form_widget(form.tags, { 'attr': {'class': 'tags-form select2'} }) }}
                    {#<small id="tags-help" class="form-text text-muted">Pick at least one related tag. Create tag</small>#}
                </div>

            </div>


            {#<button type="submit">Add</button>#}
        </div>
        <div class="button-add-new-location" style="margin-top: 70px">
            <a><button class="btn btn-primary" type="submit">Add New Location</button></a>
        </div>
        {{ form_end(form) }}



    </div>
    <div class="map-image-div">
        <img class="map-image" src="{{ asset('bundles/administration/img/map-location.png') }}">
    </div>
{% endblock %}

{% block javascript_custom %}
<script>
    $(document).ready(function () {
        $('.select2').select2();
    });
</script>
{% endblock %}