{% extends '@Administration/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/administration/css/ChangePassword.css') }}">
{% endblock %}

{% block body %}
    <div class="body main">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit">Change password</button>
        {{ form_end(form) }}
    </div>
{% endblock %}


