{% extends '@Administration/base.html.twig' %}

{% block stylesheet_custom %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/administration/css/ChangePassword.css') }}">
{% endblock %}

{% block body %}
    <div class="body main">
        <div class="title-create-slide">
            <h3 class="title-create-slide-text">Change Your Password</h3>
            <ion-icon name="create" class="icon-create-title"></ion-icon>
        </div>
        <div class="line-under-title"></div>
        {#<div class="icon-back-div">#}
            {#<a href="{{ path('edit') }}"><ion-icon name="arrow-round-back"></ion-icon></a>#}
        {#</div>#}

        {{ form_start(form) }}
        <div class="div-form">

            {#<div class="div-location-name">#}
                {#<h5 class="location-name-text">#}
                    {#Username#}
                {#</h5>#}
                {#<div class="form-location-name-div form-tags-div">#}
                    {#{{ logged_in_user.username }}#}
                {#</div>#}
            {#</div>#}
            <div class="div-tags">
                <p class="location-tags-text">
                    New Password
                </p>
                <div class="form-tags-div">
                    {{ form_widget(form.password.first, { 'attr': {'class': 'location-form form-control'}  }) }}
                    <small id="tags-help" class="form-text text-muted">At least 8 characters, at most 20</small>
                </div>
            </div>
            <div class="div-tags">
                <p class="location-tags-text">
                    Confirm New Password
                </p>
                <div class="form-tags-div">
                    {{ form_widget(form.password.second, { 'attr': {'class': 'location-form form-control'}  }) }}
                    <small id="tags-help" class="form-text text-muted">Confirm the password</small>
                </div>
            </div>

        </div>
        <div class="button-add-new-location" style="margin-top: 70px">
            <a><button class="btn btn-primary" type="submit">Change Password</button></a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}


    {#<div class="body main">#}
        {#{{ form_start(form) }}#}
        {#{{ form_widget(form) }}#}

        {#<button type="submit">Change password</button>#}
        {#{{ form_end(form) }}#}
    {#</div>#}

