{% extends '@Administration/base.html.twig' %}

{% block title %}Locations index{% endblock %}

{% block stylesheet_custom %}{% endblock %}

{% block body %}
    <div class="body main">
        username: {{ logged_in_user.username }}
        <br/>
        <a href="{{ path('user_edit', {'id': logged_in_user.id}) }}">Edit account</a>
        <br/><br/>

        Slides:<br/>
        {% for slide in own_slides %}
            {{ slide.name }}

            <a href="{{ path('slide_preview', {'id': slide.id}) }}">Preview</a>
            <a href="{{ path('slide_edit', {'id': slide.id}) }}">Edit</a>
            <a href="{{ path('slide_delete', {'id': slide.id}) }}">Delete</a>

            <br/>

        {% endfor %}

        <br/>
        <a href="{{ path('slide_new') }}">Create new slide</a>
    </div>

{% endblock %}

{% block javascript_custom %}{% endblock %}