{% extends '@Administration/base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
    <div class="body main">
        <div class="title-create-slide">
            <h3 class="title-create-slide-text">My Account</h3>
            <ion-icon name="person" class="icon-create-title"></ion-icon>
        </div>

        <div class="line-under-title"></div>
        {#<div class="icon-back-div">#}
            {#<a href="{{ path('locations') }}"><ion-icon name="arrow-round-back"></ion-icon></a>#}
        {#</div>#}


        <div class="div-form">

            <div class="div-location-name">
                <h5 class="location-name-text">
                    User Name: {{ logged_in_user.username }}
                </h5>
                {#<div class="form-location-name-div form-tags-div">#}
                    {##}
                    {#{{ form_widget(form.username, { 'attr': {'class': 'location-form form-control', 'placeholder': 'e.g. name.surname'} }) }}#}
                    {#<small id="name-location-help" class="form-text text-muted">Create a unique username</small>#}
                {#</div>#}
            </div>

        </div>



        {#username: {{ logged_in_user.username }}#}

        <div class="button-add-new-location" style="margin-top: 70px">
            <a href="{{ path('change_password') }}"><button class="btn btn-primary">Change Password</button></a>
        </div>

        {#<br/>#}
            {#<a href="{{ path('change_password') }}">change password</a>#}
        {#<br/>#}

        <div class="button-add-new-location" style="margin-top: 70px">
            <a href="{{ path('user_edit', {'id': logged_in_user.id}) }}"><button class="btn btn-primary">Edit account</button></a>
        </div>

        {#<a href="{{ path('user_edit', {'id': logged_in_user.id}) }}">Edit account</a>#}
        {#<br/><br/>#}

        Slides:<br/>
        {% for slide in own_slides %}
            {{ slide.name }}

            <a href="{{ path('slide_preview', {'id': slide.id}) }}">Preview</a>
            <a href="{{ path('slide_edit', {'id': slide.id}) }}">Edit</a>
            <a href="{{ path('slide_delete', {'id': slide.id}) }}">Delete</a>

            <br/>

        {% endfor %}

        <br/>
        <div class="button-add-new-location" style="margin-top: 70px">
            <a href="{{ path('slide_new') }}"><button class="btn btn-primary">Create New Slide</button></a>
        </div>
        {#<a href="{{ path('slide_new') }}">Create new slide</a>#}
    </div>

{% endblock %}
