{% extends '@Administration/base.html.twig' %}

{% block title %}New slide{% endblock %}

{% block body %}
    <div class="body main">
        <div class="title-create-slide">
            <h3 class="title-create-slide-text">Edit slide</h3>
            <ion-icon name="pin" class="icon-create-title"></ion-icon>
        </div>
        <div class="line-under-title"></div>
        <div class="icon-back-div">
            <a href="{{ path('slide.list') }}"><ion-icon name="arrow-round-back"></ion-icon></a>
        </div>

        {{ form_start(form) }}
        {% form_theme form 'bootstrap_4_layout.html.twig'%}
        <div class="div-form">


            <div class="form-row">
                <div class="div-location-name">
                    <h5 class="location-name-text">
                        Slide name
                    </h5>
                    <div class="form-location-name-div form-tags-div">
                        {{ form_widget(form.name) }}
                        <small id="name-location-help" class="form-text text-muted">Create a unique name for slide</small>
                    </div>
                </div>
                <div class="div-tags">
                    <p class="location-tags-text">
                        Period of validity (in ms)
                    </p>
                    <div class="form-tags-div">
                        {{ form_widget(form.periodOfValidity) }}
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="div-tags">
                    <p class="location-tags-text">
                        Start date
                    </p>
                    <div class="form-tags-div">
                        {{ form_widget(form.startDate) }}
                    </div>
                </div>
                <div class="div-tags">
                    <p class="location-tags-text">
                        End date
                    </p>
                    <div class="form-tags-div">
                        {{ form_widget(form.endDate) }}
                    </div>
                </div>
                <div class="div-tags supervisor-div">
                    <p class="location-tags-text flex-end-sup">
                        Enabled
                    </p>
                    <div class="form-tags-div">
                        {{ form_widget(form.enabled) }}
                    </div>
                </div>
            </div>

            <div class="div-tags">
                <p class="location-tags-text">
                    Content
                </p>
                <div class="form-tags-div">
                    {{ form_widget(form.content) }}
                </div>
            </div>
            <div class="div-tags">
                <p class="location-tags-text">
                    Tags
                </p>
                <div class="form-tags-div">
                    {{ form_widget(form.tags) }}
                </div>
            </div>
            <div class="div-tags">
                <p class="location-tags-text">
                    Step
                </p>
                <div class="form-tags-div">
                    {{ form_widget(form.step) }}
                </div>
            </div>
            <div class="form-row">
                <div class="div-tags">
                    <p class="location-tags-text">
                        Active time start
                    </p>
                    <div class="form-tags-div">
                        {{ form_widget(form.activeTimeStart) }}
                    </div>
                </div>
                <div class="div-tags">
                    <p class="location-tags-text">
                        Active time end
                    </p>
                    <div class="form-tags-div">
                        {{ form_widget(form.activeTimeEnd) }}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="div-tags">
                    <p class="location-tags-text">
                        Type of schedule for slide
                    </p>
                    <div class="form-tags-div">
                        {{ form_widget(form.typeOfSchedule) }}
                    </div>
                </div>
                <div class="div-tags">
                    <p class="location-tags-text">
                        Schedule of slide
                    </p>
                    <div class="form-tags-div">
                        {{ form_widget(form.schedule) }}
                    </div>
                </div>
            </div>

        </div>
        <div class="button-add-new-location" style="margin-top: 70px">
            <a><button class="btn btn-primary" type="submit">Add new slide</button></a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}