{% extends 'base.html.twig' %}

{% block title %}Locations index{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

    {% for slide in slides %}
        {{ slide.name }}

        <a href="{{ path('slide_show', {'id': slide.id}) }}">Preview</a>
        <a href="{{ path('slide_edit', {'id': slide.id}) }}">Edit</a>
        <a href="{{ path('slide_delete', {'id': slide.id}) }}">Delete</a>

    {% endfor %}

    <br/><br/>
    <a href="{{ path('slide_new') }}">Add new</a>

{% endblock %}

{% block javascripts %}{% endblock %}